//PS/2
NET "M_Clk" LOC = L13 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | PULLUP;
NET "M_Dat" LOC = K14 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | PULLUP;

//NET "Clk" LOC = V10;
NET "led0" LOC = U16 | IOSTANDARD = LVCMOS33;
NET "led1" LOC = V16 | IOSTANDARD = LVCMOS33;
NET "led2" LOC = U15 | IOSTANDARD = LVCMOS33;
NET "led3" LOC = V15 | IOSTANDARD = LVCMOS33;
NET "led4" LOC = M11 | IOSTANDARD = LVCMOS33;
NET "led5" LOC = N11 | IOSTANDARD = LVCMOS33;


