//PS/2
NET "ps2c" LOC = L13 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | PULLUP;
NET "ps2d" LOC = K14 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | PULLUP;

//NET "Clk" LOC = V10;
NET "led[0]" LOC = U16 | IOSTANDARD = LVCMOS33;
NET "led[1]" LOC = V16 | IOSTANDARD = LVCMOS33;
NET "led[2]" LOC = U15 | IOSTANDARD = LVCMOS33;
NET "led[3]" LOC = V15 | IOSTANDARD = LVCMOS33;
NET "led[4]" LOC = M11 | IOSTANDARD = LVCMOS33;
NET "led[5]" LOC = N11 | IOSTANDARD = LVCMOS33;
NET "led[6]" LOC = R11 | IOSTANDARD = LVCMOS33;
NET "led[7]" LOC = T11 | IOSTANDARD = LVCMOS33;

NET "clk" LOC = V10 | IOSTANDARD = LVCMOS33;
NET "reset" LOC = B8 | IOSTANDARD = LVCMOS33;